*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
}

/* TOP PART*/

/* Bread Crumbs */

.breadcrumbs{
    width:100%;
    position:relative;
    top: 0;
    z-index:10;
    border-bottom: 2px solid black;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding:0 1.3rem 0 4rem;
    box-sizing: border-box;
    align-items: center;
}

.breadcrumbs li{
    display: inline;
    margin-left: 1.7rem;
    font-size:1.5rem;
}

.breadcrumbs a{
    color:black;
    cursor: pointer;
    transition: color 1s ease;

}

.breadcrumbs a:hover{
    color:red;
}

#nameLogo{
    font-size: 3em;
    font-weight: 300;
}

/* Header */
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:auto;
    width: 95%;
    margin:3rem auto;
    padding:0 4rem;
    box-sizing: border-box;
}
.AboutMeText h2{
    text-align: left;
    width: 100%;
    margin-bottom: 3rem;
    font-size:4rem;
    font-style: italic;
    font-weight: 300;
    box-sizing: border-box;

}
.AboutMeText p{
    font-size: 2rem;
    line-height: 1.6;

}
.AboutMeText{
    text-align: center;
    height: 100%;
    width:60%;
    margin: 0 auto;
}
Header img{
    height:auto;
    border-radius: 50%;
    width:28%;
}
